11 Data import

11.1 Introduction

Working with data provided by R packages is a great way to learn the tools of data science, but at some point you want to stop learning and start working with your own data. In this chapter, you’ll learn how to read plain-text rectangular files into R. Here, we’ll only scratch the surface of data import, but many of the principles will translate to other forms of data. We’ll finish with a few pointers to packages that are useful for other types of data.

11.1.1 Prerequisites

NN
readr

In this chapter, you’ll learn how to load flat files in R with the readr package, which is part of the core tidyverse.

In [1]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1     ✔ purrr   0.3.2
✔ tibble  2.1.1     ✔ dplyr   0.8.1
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

11.2 Getting started

Most of readr’s functions are concerned with turning flat files into data frames:

    read_csv() reads comma delimited files
    read_csv2() reads semicolon separated files (common in countries where , is used as the decimal place)
    read_tsv() reads tab delimited files
    read_delim() reads in files with any delimiter.

    read_fwf() reads fixed width files. You can specify fields either by their widths with fwf_widths() or their position with fwf_positions(). 
    read_table() reads a common variation of fixed width files where columns are separated by white space.

    read_log() reads Apache style log files. (But also check out webreadr which is built on top of read_log() and provides many more helpful tools.)

These functions all have similar syntax: once you’ve mastered one, you can use the others with ease. For the rest of this chapter we’ll focus on read_csv(). Not only are csv files one of the most common forms of data storage, but once you understand read_csv(), you can easily apply your knowledge to all the other functions in readr.

The first argument to read_csv() is the most important: it’s the path to the file to read.

In [4]:
heights <- read_csv("./heights.csv")

Parsed with column specification:
cols(
  earn = col_double(),
  height = col_double(),
  sex = col_character(),
  ed = col_double(),
  age = col_double(),
  race = col_character()
)

When you run read_csv() it prints out a column specification that gives the name and type of each column. That’s an important part of readr, which we’ll come back to in parsing a file.

You can also supply an inline csv file. This is useful for experimenting with readr and for creating reproducible examples to share with others:

In [5]:
read_csv('a,b,c
1,2,3
4,5,6')

  a b c
1 1 2 3
2 4 5 6

In both cases read_csv() uses the first line of the data for the column names, which is a very common convention. There are two cases where you might want to tweak this behaviour:

1. Sometimes there are a few lines of metadata at the top of the file. You can use skip = n to skip the first n lines; or use comment = "#" to drop all lines that start with (e.g.) #.

In [6]:
read_csv('The first line of metadata
The second line of metadagta
x,y,z
1,2,3', skip = 2)

  x y z
1 1 2 3

In [7]:
read_csv('# A comment I want to skip
x,y,z
1,2,3', comment = '#')

  x y z
1 1 2 3

2. The data might not have column names. You can use col_names = FALSE to tell read_csv() not to treat the first row as headings, and instead label them sequentially from X1 to Xn:

In [8]:
read_csv('1,2,3\n4,5,6', col_names=FALSE)

  X1 X2 X3
1 1  2  3
2 4  5  6

("\n" is a convenient shortcut for adding a new line. You’ll learn more about it and other types of string escape in string basics.)

Alternatively you can pass col_names a character vector which will be used as the column names:

In [9]:
read_csv('1,2,3\n4,5,6', col_names = c('x','y', 'z'))

  x y z
1 1 2 3
2 4 5 6

Another option that commonly needs tweaking is na: this specifies the value (or values) that are used to represent missing values in your file:

In [10]:
read_csv('a,b,c\n1,2,.', na='.')

  a b c
1 1 2 NA

This is all you need to know to read ~75% of CSV files that you’ll encounter in practice. You can also easily adapt what you’ve learned to read tab separated files with read_tsv() and fixed width files with read_fwf(). 

To read in more challenging files, you’ll need to learn more about how readr parses each column, turning them into R vectors.

11.2.1 Compared to base R

If you’ve used R before, you might wonder why we’re not using read.csv(). There are a few good reasons to favour readr functions over the base equivalents:

*   They are typically much faster (~10x) than their base equivalents. Long running jobs have a progress bar, so you can see what’s happening. If you’re looking for raw speed, try data.table::fread(). It doesn’t fit quite so well into the tidyverse, but it can be quite a bit faster.

*   They produce tibbles, they don’t convert character vectors to factors, use row names, or munge the column names. These are common sources of frustration with the base R functions.

*   They are more reproducible. Base R functions inherit some behaviour from your operating system and environment variables, so import code that works on your computer might not work on someone else’s.

11.2.2 Exercises

1. What function would you use to read a file where fields were separated with
“|”?

In [38]:
read_delim(file, delim = "|")

ERROR: Error: `file` must be a string, raw vector or a connection.

2. Apart from file, skip, and comment, what other arguments do read_csv() and read_tsv() have in common?

In [43]:
intersect(names(formals(read_csv)), names(formals(read_tsv)))
union(names(formals(read_csv)), names(formals(read_tsv)))

 [1] "file"            "col_names"       "col_types"       "locale"
 [5] "na"              "quoted_na"       "quote"           "comment"
 [9] "trim_ws"         "skip"            "n_max"           "guess_max"
[13] "progress"        "skip_empty_rows"

 [1] "file"            "col_names"       "col_types"       "locale"
 [5] "na"              "quoted_na"       "quote"           "comment"
 [9] "trim_ws"         "skip"            "n_max"           "guess_max"
[13] "progress"        "skip_empty_rows"

* col_names and col_types are used to specify the column names and how to parse the columns
* locale is important for determining things like the encoding and whether “.” or “,” is used as a decimal mark.
* na and quoted_na control which strings are treated as missing values when parsing vectors
* trim_ws trims whitespace before and after cells before parsing
* n_max sets how many rows to read
* guess_max sets how many rows to use when guessing the column type
* progress determines whether a progress bar is shown.

[******** extremely useful]

In [40]:
formals(read_csv)

$file


$col_names
[1] TRUE

$col_types
NULL

$locale
default_locale()

$na
c("", "NA")

$quoted_na
[1] TRUE

$quote
[1] "\""

$comment
[1] ""

$trim_ws
[1] TRUE

$skip
[1] 0

$n_max
[1] Inf

$guess_max
min(1000, n_max)

$progress
show_progress()

$skip_empty_rows
[1] TRUE

3. What are the most important arguments to read_fwf()?

The most important argument to read_fwf() which reads “fixed-width formats”, is col_positions which tells the function where data columns begin and end.

In [44]:
formals(read_fwf)

$file


$col_positions


$col_types
NULL

$locale
default_locale()

$na
c("", "NA")

$comment
[1] ""

$trim_ws
[1] TRUE

$skip
[1] 0

$n_max
[1] Inf

$guess_max
min(n_max, 1000)

$progress
show_progress()

$skip_empty_rows
[1] TRUE

read_delim()
read_csv()

4. Sometimes strings in a CSV file contain commas. To prevent them from causing problems they need to be surrounded by a quoting character, like " or '. By convention, read_csv() assumes that the quoting character will be ", and if you want to change it you’ll need to use read_delim() instead. What arguments do you need to specify to read the following text into a data frame?  NOTY THE CASE ANY MORE CAN USE READ_CSV

"x,y\n1,'a,b'"

For read_delim(), we will will need to specify a delimiter, in this case ",", and a quote argument.

In [47]:
x <- "x,y\n1,'a,b'"
read_delim(file = x, delim",", quote = "'")

  x y
1 1 a,b

However, this question is out of date. read_csv() now supports a quote argument, so the following code works.

In [48]:
read_csv(x, quote = "'")

  x y
1 1 a,b

In [46]:
formals(read_delim)

$file


$delim


$quote
[1] "\""

$escape_backslash
[1] FALSE

$escape_double
[1] TRUE

$col_names
[1] TRUE

$col_types
NULL

$locale
default_locale()

$na
c("", "NA")

$quoted_na
[1] TRUE

$comment
[1] ""

$trim_ws
[1] FALSE

$skip
[1] 0

$n_max
[1] Inf

$guess_max
min(1000, n_max)

$progress
show_progress()

$skip_empty_rows
[1] TRUE

5. Identify what is wrong with each of the following inline CSV files. What happens when you run the code?

read_csv("a,b\n1,2,3\n4,5,6")  # 2 col labels but 3 cols of data

Only two columns are specified in the header “a” and “b”, but the rows have three columns, so the last column is dropped.

read_csv("a,b,c\n1,2\n1,2,3,4") # 3 col labels but row 2 only has 2 cols

The numbers of columns in the data do not match the number of columns in the header (three). In row one, there are only two values, so column c is set to missing. In row two, there is an extra value, and that value is dropped.

read_csv("a,b\n\"1")  # not sure whats that

It’s not clear what the intent was here. The opening quote "1 is dropped because it is not closed, and a is treated as an integer.

read_csv("a,b\n\"1")  # not sure whats that

Both “a” and “b” are treated as character vectors since they contain non-numeric strings. This may have been intentional, or the author may have intended the values of the columns to be “1,2” and “a,b”.

read_csv("a,b\n\"1")  # not sure whats that

The values are separated by “;” rather than “,”. Use read_csv2() instead:

In [11]:
read_csv("a,b\n1,2,3\n4,5,6")  # 2 col labels but 3 cols of data
read_csv("a,b,c\n1,2\n1,2,3,4") # 3 col labels but row 2 only has 2 cols
read_csv("a,b\n\"1")  # not sure whats that
read_csv("a,b\n1,2\na,b")
c

Warning message:
“2 parsing failures.
row col  expected    actual         file
  1  -- 2 columns 3 columns literal data
  2  -- 2 columns 3 columns literal data
”

  a b
1 1 2
2 4 5

Warning message:
“2 parsing failures.
row col  expected    actual         file
  1  -- 3 columns 2 columns literal data
  2  -- 3 columns 4 columns literal data
”

  a b c
1 1 2 NA
2 1 2  3

Warning message:
“2 parsing failures.
row col                     expected    actual         file
  1  a  closing quote at end of file           literal data
  1  -- 2 columns                    1 columns literal data
”

  a b
1 1 NA

  a b
1 1 2
2 a b

  a;b
1 1;3

11.3 Parsing a vector

Before we get into the details of how readr reads files from disk, we need to take a little detour to talk about the parse_*() functions. These functions take a character vector and return a more specialised vector like a logical, integer, or date:

In [12]:
str(parse_logical(c("TRUE", "FALSE", "NA")))
str(parse_integer(c("1", "2", "3")))
str(parse_date(c("2010-01-01", "1979-10-14")))

 logi [1:3] TRUE FALSE NA
 int [1:3] 1 2 3
 Date[1:2], format: "2010-01-01" "1979-10-14"

These functions are useful in their own right, but are also an important building block for readr. Once you’ve learned how the individual parsers work in this section, we’ll circle back and see how they fit together to parse a complete file in the next section.

Like all functions in the tidyverse, the parse_*() functions are uniform: the first argument is a character vector to parse, and the na argument specifies which strings should be treated as missing:

In [13]:
parse_integer(c("1", "231", ".", "456"), na = ".")

[1]   1 231  NA 456

If parsing fails, you’ll get a warning:

In [14]:
x <- parse_integer(c("123", "345", "abc", "123.45"))

Warning message:
“2 parsing failures.
row col               expected actual
  3  -- an integer                abc
  4  -- no trailing characters    .45
”

And the failures will be missing in the output:

In [15]:
x

[1] 123 345  NA  NA
attr(,"problems")
# A tibble: 2 x 4
    row   col expected               actual
  <int> <int> <chr>                  <chr>
1     3    NA an integer             abc
2     4    NA no trailing characters .45

NN
problems()

If there are many parsing failures, you’ll need to use problems() to get the complete set. This returns a tibble, which you can then manipulate with dplyr.

In [17]:
problems(x)

  row col expected               actual
1 3   NA  an integer             abc
2 4   NA  no trailing characters .45

Using parsers is mostly a matter of understanding what’s available and how they deal with different types of input. There are eight particularly important parsers:

    parse_logical()
    parse_integer() 
    parse logicals and integers respectively. There’s basically nothing that can go wrong with these parsers so I won’t describe them here further.

    parse_double() 
    is a strict numeric parser
    parse_number() 
    is a flexible numeric parser. 
    These are more complicated than you might expect because different parts of the world write numbers in different ways.

    parse_character() 
    seems so simple that it shouldn’t be necessary. But one complication makes it quite important: character encodings.

    parse_factor() 
    create factors, the data structure that R uses to represent categorical variables with fixed and known values.

    parse_datetime()
    parse_date()
    parse_time() 
    allow you to parse various date & time specifications. These are the most complicated because there are so many different ways of writing dates.

The following sections describe these parsers in more detail.

11.3.1 Numbers

It seems like it should be straightforward to parse a number, but three problems make it tricky:

    People write numbers differently in different parts of the world. For example, some countries use . in between the integer and fractional parts of a real number, while others use ,.

    Numbers are often surrounded by other characters that provide some context, like “$1000” or “10%”.

    Numbers often contain “grouping” characters to make them easier to read, like “1,000,000”, and these grouping characters vary around the world.

NN
locale
decimal_mark

To address the first problem, readr has the notion of a “locale”, an object that specifies parsing options that differ from place to place. When parsing numbers, the most important option is the character you use for the decimal mark. You can override the default value of . by creating a new locale and setting the decimal_mark argument:

In [18]:
parse_double("1.23")
parse_double("1,23", locale = locale(decimal_mark = ","))

[1] 1.23

[1] 1.23

readr’s default locale is US-centric, because generally R is US-centric (i.e. the documentation of base R is written in American English). An alternative approach would be to try and guess the defaults from your operating system. This is hard to do well, and, more importantly, makes your code fragile: even if it works on your computer, it might fail when you email it to a colleague in another country.

parse_number() 
addresses the second problem: it ignores non-numeric characters before and after the number. This is particularly useful for currencies and percentages, but also works to extract numbers embedded in text.

In [19]:
parse_number("$100")
parse_number("20%")
parse_number("It cost $123.45")

[1] 100

[1] 20

[1] 123.45

The final problem is addressed by the combination of parse_number() and the locale as parse_number() will ignore the “grouping mark”:

In [20]:
parse_number("$123,456,789")
parse_number("123.456.789", locale = locale(grouping_mark = "."))
parse_number("123'456'789", locale = locale(grouping_mark = "'"))

[1] 123456789

[1] 123456789

[1] 123456789

11.3.2 Strings

NN
charToRaw()

It seems like parse_character() should be really simple — it could just return its input. Unfortunately life isn’t so simple, as there are multiple ways to represent the same string. To understand what’s going on, we need to dive into the details of how computers represent strings. In R, we can get at the underlying representation of a string using charToRaw():

In [21]:
charToRaw("Hadley")

[1] 48 61 64 6c 65 79

hexadecimal
UTF-8

Each hexadecimal number represents a byte of information: 48 is H, 61 is a, and so on. The mapping from hexadecimal number to character is called the encoding, and in this case the encoding is called ASCII. ASCII does a great job of representing English characters, because it’s the American Standard Code for Information Interchange.

Things get more complicated for languages other than English. In the early days of computing there were many competing standards for encoding non-English characters, and to correctly interpret a string you needed to know both the values and the encoding. For example, two common encodings are Latin1 (aka ISO-8859-1, used for Western European languages) and Latin2 (aka ISO-8859-2, used for Eastern European languages). In Latin1, the byte b1 is “±”, but in Latin2, it’s “ą”! Fortunately, today there is one standard that is supported almost everywhere: UTF-8. UTF-8 can encode just about every character used by humans today, as well as many extra symbols (like emoji!).

readr uses UTF-8 everywhere: it assumes your data is UTF-8 encoded when you read it, and always uses it when writing. This is a good default, but will fail for data produced by older systems that don’t understand UTF-8. If this happens to you, your strings will look weird when you print them. Sometimes just one or two characters might be messed up; other times you’ll get complete gibberish. For example:

In [22]:
x1 <- "El Ni\xf1o was particularly bad this year"
x2 <- "\x82\xb1\x82\xf1\x82\xc9\x82\xbf\x82\xcd"
x1
x2

[1] "El Ni\xf1o was particularly bad this year"

[1] "\x82\xb1\x82\xf1\x82\u0242\xbf\x82\xcd"

To fix the problem you need to specify the encoding in parse_character():

In [23]:
parse_character(x1, locale = locale(encoding = "Latin1"))
parse_character(x2, locale = locale(encoding = "Shift-JIS"))

[1] "El Niño was particularly bad this year"

[1] "こんにちは"

NN
guess_encoding()

How do you find the correct encoding? If you’re lucky, it’ll be included somewhere in the data documentation. Unfortunately, that’s rarely the case, so readr provides guess_encoding() to help you figure it out. It’s not foolproof, and it works better when you have lots of text (unlike here), but it’s a reasonable place to start. Expect to try a few different encodings before you find the right one.

In [24]:
guess_encoding(charToRaw(x1))
guess_encoding(charToRaw(x2))

  encoding   confidence
1 ISO-8859-1 0.46
2 ISO-8859-9 0.23

  encoding confidence
1 KOI8-R   0.42

In [26]:
parse_character(x1, locale = locale(encoding = "ISO-8859-1"))
parse_character(x2, locale = locale(encoding = "KOI8-R"))

[1] "El Niño was particularly bad this year"

[1] "┌╠┌Я┌и┌©┌м"

The first argument to guess_encoding() can either be a path to a file, or, as in this case, a raw vector (useful if the strings are already in R).

Encodings are a rich and complex topic, and I’ve only scratched the surface here. If you’d like to learn more I’d recommend reading the detailed explanation at http://kunststube.net/encoding/.

11.3.3 Factors

R uses factors to represent categorical variables that have a known set of possible values. Give parse_factor() a vector of known levels to generate a warning whenever an unexpected value is present:

In [28]:
fruit <- c("apple", "banana")
parse_factor(c("apple", "banana", "bananana"), levels = fruit)

Warning message:
“1 parsing failure.
row col           expected   actual
  3  -- value in level set bananana
”

[1] apple  banana <NA>
attr(,"problems")
# A tibble: 1 x 4
    row   col expected           actual
  <int> <int> <chr>              <chr>
1     3    NA value in level set bananana
Levels: apple banana

But if you have many problematic entries, it’s often easier to leave as character vectors and then use the tools you’ll learn about in strings and factors to clean them up.

11.3.4 Dates, date-times, and times

You pick between three parsers depending on whether you want a date (the number of days since 1970-01-01), a date-time (the number of seconds since midnight 1970-01-01), or a time (the number of seconds since midnight). When called without any additional arguments:

parse_datetime() 
expects an ISO8601 date-time. ISO8601 is an international standard in which the components of a date are organised from biggest to smallest: year, month, day, hour, minute, second.  This is the most important date/time standard, and if you work with dates and times frequently, I recommend reading https:
    
    
    //en.wikipedia.org/wiki/ISO_8601

In [29]:
parse_datetime("2010-10-01T2010")
parse_datetime("20101010")

[1] "2010-10-01 20:10:00 UTC"

[1] "2010-10-10 UTC"

parse_date() 
expects a four digit year, a - or /, the month, a - or /, then the day:

In [30]:
parse_date("2010-10-01")

[1] "2010-10-01"

parse_time() expects the hour, :, minutes, optionally : and seconds, and an optional am/pm specifier:

In [31]:
library(hms)
parse_time("01:10 am")
parse_time("20:10:01")

01:10:00

20:10:01

Base R doesn’t have a great built in class for time data, so we use the one provided in the hms package.

If these defaults don’t work for your data you can supply your own date-time format, built up of the following pieces:

Year
    %Y (4 digits).
    %y (2 digits); 00-69 -> 2000-2069, 70-99 -> 1970-1999.
    
Month
    %m (2 digits).
    %b (abbreviated name, like “Jan”).
    %B (full name, “January”).

Day
    %d (2 digits).
    %e (optional leading space).

Time
    %H 0-23 hour.
    %I 0-12, must be used with %p.
    %p AM/PM indicator.
    %M minutes.
    %S integer seconds.
    %OS real seconds.
    %Z Time zone (as name, e.g. America/Chicago). 
        Beware of abbreviations: 
        if you’re American, note that “EST” is a Canadian time zone 
        that does not have daylight savings time. 
        It is not Eastern Standard Time! 
        We’ll come back to this time zones.
    %z (as offset from UTC, e.g. +0800).

Non-digits
    %. skips one non-digit character.
    %* skips any number of non-digits.

The best way to figure out the correct format is to create a few examples in a character vector, and test with one of the parsing functions. 

For example:

In [32]:
parse_date("01/02/15", "%m/%d/%y")
parse_date("01/02/15", "%d/%m/%y")
parse_date("01/02/15", "%y/%m/%d")

[1] "2015-01-02"

[1] "2015-02-01"

[1] "2001-02-15"

If you’re using %b or %B with non-English month names, you’ll need to set the lang argument to locale(). See the list of built-in languages in date_names_langs(), or if your language is not already included, create your own with date_names().

In [49]:
date_names_langs()

  [1] "af"  "agq" "ak"  "am"  "ar"  "as"  "asa" "az"  "bas" "be"  "bem" "bez"
 [13] "bg"  "bm"  "bn"  "bo"  "br"  "brx" "bs"  "ca"  "cgg" "chr" "cs"  "cy"
 [25] "da"  "dav" "de"  "dje" "dsb" "dua" "dyo" "dz"  "ebu" "ee"  "el"  "en"
 [37] "eo"  "es"  "et"  "eu"  "ewo" "fa"  "ff"  "fi"  "fil" "fo"  "fr"  "fur"
 [49] "fy"  "ga"  "gd"  "gl"  "gsw" "gu"  "guz" "gv"  "ha"  "haw" "he"  "hi"
 [61] "hr"  "hsb" "hu"  "hy"  "id"  "ig"  "ii"  "is"  "it"  "ja"  "jgo" "jmc"
 [73] "ka"  "kab" "kam" "kde" "kea" "khq" "ki"  "kk"  "kkj" "kl"  "kln" "km"
 [85] "kn"  "ko"  "kok" "ks"  "ksb" "ksf" "ksh" "kw"  "ky"  "lag" "lb"  "lg"
 [97] "lkt" "ln"  "lo"  "lt"  "lu"  "luo" "luy" "lv"  "mas" "mer" "mfe" "mg"
[109] "mgh" "mgo" "mk"  "ml"  "mn"  "mr"  "ms"  "mt"  "mua" "my"  "naq" "nb"
[121] "nd"  "ne"  "nl"  "nmg" "nn"  "nnh" "nus" "nyn" "om"  "or"  "os"  "pa"
[133] "pl"  "ps"  "pt"  "qu"  "rm"  "rn"  "ro"  "rof" "ru"  "rw"  "rwk" "sah"
[145] "saq" "sbp" "se"  "seh" "ses" "sg"  "shi" "si"  "sk"  "sl"  "smn" "sn"
[157] "so"  "sq"  "sr"  "sv"  "sw"  "ta"  "te"  "teo" "th"  "ti"  "to"  "tr"
[169] "twq" "tzm" "ug"  "uk"  "ur"  "uz"  "vai" "vi"  "vun" "wae" "xog" "yav"
[181] "yi"  "yo"  "zgh" "zh"  "zu"

In [50]:
parse_date("1 janvier 2015", "%d %B %Y", locale = locale("fr"))

[1] "2015-01-01"

11.3.5 Exercises

1. What are the most important arguments to locale()?

The locale object has arguments to set the following:

date and time formats: 
    date_names
    date_format
    time_format
time zone: 
    tz
numbers: 
    decimal_mark 
    grouping_mark
encoding: 
    encoding

In [51]:
formals(locale)

$date_names
[1] "en"

$date_format
[1] "%AD"

$time_format
[1] "%AT"

$decimal_mark
[1] "."

$grouping_mark
[1] ","

$tz
[1] "UTC"

$encoding
[1] "UTF-8"

$asciify
[1] FALSE

2. What happens if you try and set decimal_mark and grouping_mark to the same character? What happens to the default value of grouping_mark when you set decimal_mark to “,”? 
What happens to the default value of decimal_mark when you set the grouping_mark to “.”?

If the decimal and grouping marks are set to the same character, locale throws an error:

If the decimal_mark is set to the comma ",", then the grouping mark is set to the period ".":

If the grouping mark is set to a period, then the decimal mark is set to a comma

In [52]:
locale(decimal_mark = ".", grouping_mark = ".")

ERROR: Error: `decimal_mark` and `grouping_mark` must be different

In [53]:
locale(decimal_mark = ",")

<locale>
Numbers:  123.456,78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   Sunday (Sun), Monday (Mon), Tuesday (Tue), Wednesday (Wed), Thursday
        (Thu), Friday (Fri), Saturday (Sat)
Months: January (Jan), February (Feb), March (Mar), April (Apr), May (May),
        June (Jun), July (Jul), August (Aug), September (Sep), October
        (Oct), November (Nov), December (Dec)
AM/PM:  AM/PM

In [54]:
locale(grouping_mark = ",")

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   Sunday (Sun), Monday (Mon), Tuesday (Tue), Wednesday (Wed), Thursday
        (Thu), Friday (Fri), Saturday (Sat)
Months: January (Jan), February (Feb), March (Mar), April (Apr), May (May),
        June (Jun), July (Jul), August (Aug), September (Sep), October
        (Oct), November (Nov), December (Dec)
AM/PM:  AM/PM

3. I didn’t discuss the date_format and time_format options to locale(). What do they do? Construct an example that shows when they might be useful.

They provide default date and time formats. The readr vignette discusses using these to parse dates: since dates can include languages specific weekday and month names, and different conventions for specifying AM/PM

In [55]:
locale()

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   Sunday (Sun), Monday (Mon), Tuesday (Tue), Wednesday (Wed), Thursday
        (Thu), Friday (Fri), Saturday (Sat)
Months: January (Jan), February (Feb), March (Mar), April (Apr), May (May),
        June (Jun), July (Jul), August (Aug), September (Sep), October
        (Oct), November (Nov), December (Dec)
AM/PM:  AM/PM

Examples from the readr vignette of parsing French dates

In [56]:
parse_date("1 janvier 2015", "%d %B %Y", locale = locale("fr"))
parse_date("14 oct. 1979", "%d %b %Y", locale = locale("fr"))

[1] "2015-01-01"

[1] "1979-10-14"

Apparently the time format is not used for anything, but the date format is used for guessing column types.

4. If you live outside the US, create a new locale object that encapsulates the settings for the types of file you read most commonly.

Read the help page for locale() using ?locale to learn about the different variables that can be set.

As an example, consider Australia. Most of the defaults values are valid, except that the date format is “(d)d/mm/yyyy”, meaning that January 2, 2006 is written as 02/01/2006.

However, default locale will parse that date as February 1, 2006.

In [61]:
parse_date("02/01/2006")

Warning message:
“1 parsing failure.
row col   expected   actual
  1  -- date like  02/01/06
”

[1] NA

In [63]:
au_locale <- locale(date_format = "%d/%m/%Y")
parse_date("02/01/2006", locale = au_locale)

[1] "2006-01-02"

5. What’s the difference between read_csv() and read_csv2()?

The delimiter. The function read_csv() uses a comma, while read_csv2() uses a semi-colon (;). Using a semi-colon is useful when commas are used as the decimal point (as in Europe).

6. What are the most common encodings used in Europe? What are the most common encodings used in Asia? Do some googling to find out.

UTF-8 is standard now, and ASCII has been around forever.

For the European languages, there are separate encodings for Romance languages and Eastern European languages using Latin script, Cyrillic, Greek, Hebrew, Turkish: usually with separate ISO and Windows encoding standards. There is also Mac OS Roman.

For Asian languages Arabic and Vietnamese have ISO and Windows standards. The other major Asian scripts have their own:

    Japanese: JIS X 0208, Shift JIS, ISO-2022-JP
    Chinese: GB 2312, GBK, GB 18030
    Korean: KS X 1001, EUC-KR, ISO-2022-KR

The list in the documentation for stringi::stri_enc_detect() is a good list of encodings since it supports the most common encodings.

    Western European Latin script languages: ISO-8859-1, Windows-1250 (also CP-1250 for code-point)
    Eastern European Latin script languages: ISO-8859-2, Windows-1252
    Greek: ISO-8859-7
    Turkish: ISO-8859-9, Windows-1254
    Hebrew: ISO-8859-8, IBM424, Windows 1255
    Russian: Windows 1251
    Japanese: Shift JIS, ISO-2022-JP, EUC-JP
    Korean: ISO-2022-KR, EUC-KR
    Chinese: GB18030, ISO-2022-CN (Simplified), Big5 (Traditional)
    Arabic: ISO-8859-6, IBM420, Windows 1256

For more information on character encodings see the following sources.

    The Wikipedia page Character encoding, has a good list of encodings.
    Unicode CLDR project
    What is the most common encoding of each language (Stack Overflow)
    “What Every Programmer Absolutely, Positively Needs To Know About Encodings And Character Sets To Work With Text”, http://kunststube.net/encoding/.

Programs that identify the encoding of text include:

    readr::guess_encoding()
    stringi::str_enc_detect()
    iconv
    chardet (Python)

7. Generate the correct format string to parse each of the following dates and times:

In [37]:
d1 <- "January 1, 2010"
d2 <- "2015-Mar-07"
d3 <- "06-Jun-2017"
d4 <- c("August 19 (2015)", "July 1 (2015)")
d5 <- "12/30/14" # Dec 30, 2014
t1 <- "1705"
t2 <- "11:15:10.12 PM"

In [64]:
parse_date(d1, "%B %d, %Y")
parse_date(d2, "%Y-%b-%d")
parse_date(d3, "%d-%b-%Y")
parse_date(d4, "%B %d (%Y)")
parse_date(d5, "%m/%d/%y")
parse_time(t1, "%H%M")
parse_time(t2, "%H:%M:%OS %p")  # t2 uses real seconds

[1] "2010-01-01"

[1] "2015-03-07"

[1] "2017-06-06"

[1] "2015-08-19" "2015-07-01"

[1] "2014-12-30"

17:05:00

23:15:10.12

11.4 Parsing a file

Now that you’ve learned how to parse an individual vector, it’s time to return to the beginning and explore how readr parses a file. There are two new things that you’ll learn about in this section:

How readr automatically guesses the type of each column.
How to override the default specification.

11.4.1 Strategy

guess_parser
parse_guess

readr uses a heuristic to figure out the type of each column: it reads the first 1000 rows and uses some (moderately conservative) heuristics to figure out the type of each column. You can emulate this process with a character vector using guess_parser(), which returns readr’s best guess, and parse_guess() which uses that guess to parse the column:

In [65]:
guess_parser("2010-10-01")
guess_parser("15:01")
guess_parser(c("TRUE", "FALSE"))
guess_parser(c("1", "5", "9"))
guess_parser(c("12,352,561"))
str(parse_guess("2010-10-10"))

[1] "date"

[1] "time"

[1] "logical"

[1] "double"

[1] "number"

 Date[1:1], format: "2010-10-10"

The heuristic tries each of the following types, stopping when it finds a match:

    logical: contains only “F”, “T”, “FALSE”, or “TRUE”.
    integer: contains only numeric characters (and -).
    double: contains only valid doubles (including numbers like 4.5e-5).
    number: contains valid doubles with the grouping mark inside.
    time: matches the default time_format.
    date: matches the default date_format.
    date-time: any ISO8601 date.

If none of these rules apply, then the column will stay as a vector of strings.

11.4.2 Problems

These defaults don’t always work for larger files. There are two basic problems:

1. The first thousand rows might be a special case, and readr guesses a type that is not sufficiently general. For example, you might have a column of doubles that only contains integers in the first 1000 rows.

2. The column might contain a lot of missing values. If the first 1000 rows contain only NAs, readr will guess that it’s a character vector, whereas you probably want to parse it as something more specific.

readr contains a challenging CSV that illustrates both of these problems:

In [66]:
challenge <- read_csv(readr_example("challenge.csv"))

Parsed with column specification:
cols(
  x = col_double(),
  y = col_logical()
)
Warning message:
“1000 parsing failures.
 row col           expected     actual                                                          file
1001   y 1/0/T/F/TRUE/FALSE 2015-01-16 '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1002   y 1/0/T/F/TRUE/FALSE 2018-05-18 '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1003   y 1/0/T/F/TRUE/FALSE 2015-09-05 '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1004   y 1/0/T/F/TRUE/FALSE 2012-11-28 '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1005   y 1/0/T/F/TRUE/FALSE 2020-01-13 '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
.... ... .................. .......... .............................................................
See problems(...) for more details.
”

In [67]:
problems(challenge)

     row  col expected           actual
1    1001 y   1/0/T/F/TRUE/FALSE 2015-01-16
2    1002 y   1/0/T/F/TRUE/FALSE 2018-05-18
3    1003 y   1/0/T/F/TRUE/FALSE 2015-09-05
4    1004 y   1/0/T/F/TRUE/FALSE 2012-11-28
5    1005 y   1/0/T/F/TRUE/FALSE 2020-01-13
6    1006 y   1/0/T/F/TRUE/FALSE 2016-04-17
7    1007 y   1/0/T/F/TRUE/FALSE 2011-05-14
8    1008 y   1/0/T/F/TRUE/FALSE 2020-07-18
9    1009 y   1/0/T/F/TRUE/FALSE 2011-04-30
10   1010 y   1/0/T/F/TRUE/FALSE 2010-05-11
11   1011 y   1/0/T/F/TRUE/FALSE 2014-11-02
12   1012 y   1/0/T/F/TRUE/FALSE 2014-06-23
13   1013 y   1/0/T/F/TRUE/FALSE 2017-05-31
14   1014 y   1/0/T/F/TRUE/FALSE 2017-11-18
15   1015 y   1/0/T/F/TRUE/FALSE 2013-04-20
16   1016 y   1/0/T/F/TRUE/FALSE 2010-12-11
17   1017 y   1/0/T/F/TRUE/FALSE 2022-10-10
18   1018 y   1/0/T/F/TRUE/FALSE 2010-11-11
19   1019 y   1/0/T/F/TRUE/FALSE 2015-03-22
20   1020 y   1/0/T/F/TRUE/FALSE 2013-12-25
21   1021 y   1/0/T/F/TRUE/FALSE 2011-02-27
22   1022 y   1/0/T/F/TRUE/FALSE 2015-12-14
23   1023 y   1/0/T/F/TRUE/FALSE 2021-02-10
24   1024 y   1/0/T/F/TRUE/FALSE 2012-11-28
25   1025 y   1/0/T/F/TRUE/FALSE 2020-04-04
26   1026 y   1/0/T/F/TRUE/FALSE 2021-04-08
27   1027 y   1/0/T/F/TRUE/FALSE 2022-03-13
28   1028 y   1/0/T/F/TRUE/FALSE 2010-03-28
29   1029 y   1/0/T/F/TRUE/FALSE 2023-01-04
30   1030 y   1/0/T/F/TRUE/FALSE 2012-04-02
...  ...  ... ...                ...
971  1971 y   1/0/T/F/TRUE/FALSE 2020-06-10
972  1972 y   1/0/T/F/TRUE/FALSE 2013-11-08
973  1973 y   1/0/T/F/TRUE/FALSE 2017-07-12
974  1974 y   1/0/T/F/TRUE/FALSE 2016-08-12
975  1975 y   1/0/T/F/TRUE/FALSE 2022-05-12
976  1976 y   1/0/T/F/TRUE/FALSE 2020-08-11
977  1977 y   1/0/T/F/TRUE/FALSE 2011-10-26
978  1978 y   1/0/T/F/TRUE/FALSE 2015-12-09
979  1979 y   1/0/T/F/TRUE/FALSE 2012-09-27
980  1980 y   1/0/T/F/TRUE/FALSE 2013-02-04
981  1981 y   1/0/T/F/TRUE/FALSE 2010-11-29
982  1982 y   1/0/T/F/TRUE/FALSE 2013-10-16
983  1983 y   1/0/T/F/TRUE/FALSE 2015-04-26
984  1984 y   1/0/T/F/TRUE/FALSE 2011-04-12
985  1985 y   1/0/T/F/TRUE/FALSE 2017-01-30
986  1986 y   1/0/T/F/TRUE/FALSE 2014-06-08
987  1987 y   1/0/T/F/TRUE/FALSE 2016-10-19
988  1988 y   1/0/T/F/TRUE/FALSE 2023-09-01
989  1989 y   1/0/T/F/TRUE/FALSE 2010-01-09
990  1990 y   1/0/T/F/TRUE/FALSE 2020-01-11
991  1991 y   1/0/T/F/TRUE/FALSE 2016-12-16
992  1992 y   1/0/T/F/TRUE/FALSE 2010-01-03
993  1993 y   1/0/T/F/TRUE/FALSE 2016-04-23
994  1994 y   1/0/T/F/TRUE/FALSE 2016-08-10
995  1995 y   1/0/T/F/TRUE/FALSE 2019-11-21
996  1996 y   1/0/T/F/TRUE/FALSE 2018-03-29
997  1997 y   1/0/T/F/TRUE/FALSE 2014-08-04
998  1998 y   1/0/T/F/TRUE/FALSE 2015-08-16
999  1999 y   1/0/T/F/TRUE/FALSE 2020-02-04
1000 2000 y   1/0/T/F/TRUE/FALSE 2019-01-06
     file
1    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
2    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
3    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
4    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
5    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
6    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
7    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
8    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
9    '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
10   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
11   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
12   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
13   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
14   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
15   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
16   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
17   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
18   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
19   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
20   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
21   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
22   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
23   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
24   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
25   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
26   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
27   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
28   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
29   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
30   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
...  ...
971  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
972  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
973  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
974  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
975  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
976  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
977  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
978  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
979  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
980  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
981  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
982  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
983  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
984  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
985  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
986  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
987  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
988  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
989  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
990  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
991  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
992  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
993  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
994  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
995  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
996  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
997  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
998  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
999  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1000 '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'

A good strategy is to work column by column until there are no problems remaining. Here we can see that there are a lot of parsing problems with the x column - there are trailing characters after the integer value. That suggests we need to use a double parser instead.

To fix the call, start by copying and pasting the column specification into your original call:

In [68]:
challenge <- read_csv(
  readr_example("challenge.csv"), 
  col_types = cols(
    x = col_integer(),
    y = col_character()
  )
)

Warning message:
“1000 parsing failures.
 row col               expected             actual                                                          file
1001   x no trailing characters .23837975086644292 '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1002   x no trailing characters .41167997173033655 '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1003   x no trailing characters .7460716762579978  '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1004   x no trailing characters .723450553836301   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
1005   x no trailing characters .614524137461558   '/anaconda3/envs/r/lib/R/library/readr/extdata/challenge.csv'
.... ... ...................... .................. .............................................................
See problems(...) for more details.
”

Then you can tweak the type of the x column:

In [69]:
challenge <- read_csv(
  readr_example("challenge.csv"), 
  col_types = cols(
    x = col_double(),
    y = col_character()
  )
)

That fixes the first problem, but if we look at the last few rows, you’ll see that they’re dates stored in a character vector:

In [70]:
tail(challenge)

  x         y
1 0.8052743 2019-11-21
2 0.1635163 2018-03-29
3 0.4719390 2014-08-04
4 0.7183186 2015-08-16
5 0.2698786 2020-02-04
6 0.6082372 2019-01-06

You can fix that by specifying that y is a date column:

In [71]:
challenge <- read_csv(
  readr_example("challenge.csv"), 
  col_types = cols(
    x = col_double(),
    y = col_date()
  )
)
tail(challenge)

  x         y
1 0.8052743 2019-11-21
2 0.1635163 2018-03-29
3 0.4719390 2014-08-04
4 0.7183186 2015-08-16
5 0.2698786 2020-02-04
6 0.6082372 2019-01-06

stop_for_problems
parse_xyz
col_xyz

Every parse_xyz() function has a corresponding col_xyz() function. You use parse_xyz() when the data is in a character vector in R already; you use col_xyz() when you want to tell readr how to load the data.

I highly recommend always supplying col_types, building up from the print-out provided by readr. This ensures that you have a consistent and reproducible data import script. If you rely on the default guesses and your data changes, readr will continue to read it in. If you want to be really strict, use stop_for_problems(): that will throw an error and stop your script if there are any parsing problems.

11.4.3 Other strategies

There are a few other general strategies to help you parse files:

In the previous example, we just got unlucky: if we look at just one more row than the default, we can correctly parse in one shot:

In [72]:
challenge2 <- read_csv(readr_example("challenge.csv"), guess_max = 1001)
challenge2

Parsed with column specification:
cols(
  x = col_double(),
  y = col_date(format = "")
)

     x          y
1     404       <NA>
2    4172       <NA>
3    3004       <NA>
4     787       <NA>
5      37       <NA>
6    2332       <NA>
7    2489       <NA>
8    1449       <NA>
9    3665       <NA>
10   3863       <NA>
11   4374       <NA>
12    875       <NA>
13    172       <NA>
14   1602       <NA>
15   2012       <NA>
16    979       <NA>
17   2018       <NA>
18    319       <NA>
19   1944       <NA>
20   4878       <NA>
21   1450       <NA>
22   3392       <NA>
23   3677       <NA>
24    980       <NA>
25   4903       <NA>
26   3708       <NA>
27    258       <NA>
28   2652       <NA>
29   3480       <NA>
30   3443       <NA>
...  ...        ...
1971 0.14324546 2020-06-10
1972 0.42678032 2013-11-08
1973 0.56445359 2017-07-12
1974 0.18729942 2016-08-12
1975 0.60274952 2022-05-12
1976 0.73487829 2020-08-11
1977 0.06834881 2011-10-26
1978 0.78291796 2015-12-09
1979 0.92149271 2012-09-27
1980 0.04428217 2013-02-04
1981 0.71311485 2010-11-29
1982 0.90388602 2013-10-16
1983 0.73958150 2015-04-26
1984 0.17217563 2011-04-12
1985 0.18658998 2017-01-30
1986 0.38248836 2014-06-08
1987 0.45361328 2016-10-19
1988 0.45513148 2023-09-01
1989 0.17310278 2010-01-09
1990 0.30541726 2020-01-11
1991 0.86775210 2016-12-16
1992 0.26023225 2010-01-03
1993 0.68087076 2016-04-23
1994 0.85357656 2016-08-10
1995 0.80527431 2019-11-21
1996 0.16351634 2018-03-29
1997 0.47193898 2014-08-04
1998 0.71831865 2015-08-16
1999 0.26987859 2020-02-04
2000 0.60823719 2019-01-06

Sometimes it’s easier to diagnose problems if you just read in all the columns as character vectors

In [73]:
challenge2 <- read_csv(readr_example("challenge.csv"), 
  col_types = cols(.default = col_character())
)

This is particularly useful in conjunction with type_convert(), which applies the parsing heuristics to the character columns in a data frame.

In [74]:
df <- tribble(
  ~x,  ~y,
  "1", "1.21",
  "2", "2.32",
  "3", "4.56"
)
df

  x y
1 1 1.21
2 2 2.32
3 3 4.56

In [75]:
type_convert(df)

Parsed with column specification:
cols(
  x = col_double(),
  y = col_double()
)

  x y
1 1 1.21
2 2 2.32
3 3 4.56

If you’re reading a very large file, you might want to set n_max to a smallish number like 10,000 or 100,000. That will accelerate your iterations while you eliminate common problems.

If you’re having major parsing problems, sometimes it’s easier to just read into a character vector of lines with read_lines(), or even a character vector of length 1 with read_file(). Then you can use the string parsing skills you’ll learn later to parse more exotic formats.

11.5 Writing to a file

write_csv
write_tsv
write_excel_csv

readr also comes with two useful functions for writing data back to disk: write_csv() and write_tsv(). Both functions increase the chances of the output file being read back in correctly by:

Always encoding strings in UTF-8.

Saving dates and date-times in ISO8601 format so they are easily parsed elsewhere.

If you want to export a csv file to Excel, use write_excel_csv() — this writes a special character (a “byte order mark”) at the start of the file which tells Excel that you’re using the UTF-8 encoding.

The most important arguments are x (the data frame to save), and path (the location to save it). You can also specify how missing values are written with na, and if you want to append to an existing file.

In [76]:
write_csv(challenge, "challenge.csv")

Note that the type information is lost when you save to csv:

In [77]:
challenge

     x          y
1     404       <NA>
2    4172       <NA>
3    3004       <NA>
4     787       <NA>
5      37       <NA>
6    2332       <NA>
7    2489       <NA>
8    1449       <NA>
9    3665       <NA>
10   3863       <NA>
11   4374       <NA>
12    875       <NA>
13    172       <NA>
14   1602       <NA>
15   2012       <NA>
16    979       <NA>
17   2018       <NA>
18    319       <NA>
19   1944       <NA>
20   4878       <NA>
21   1450       <NA>
22   3392       <NA>
23   3677       <NA>
24    980       <NA>
25   4903       <NA>
26   3708       <NA>
27    258       <NA>
28   2652       <NA>
29   3480       <NA>
30   3443       <NA>
...  ...        ...
1971 0.14324546 2020-06-10
1972 0.42678032 2013-11-08
1973 0.56445359 2017-07-12
1974 0.18729942 2016-08-12
1975 0.60274952 2022-05-12
1976 0.73487829 2020-08-11
1977 0.06834881 2011-10-26
1978 0.78291796 2015-12-09
1979 0.92149271 2012-09-27
1980 0.04428217 2013-02-04
1981 0.71311485 2010-11-29
1982 0.90388602 2013-10-16
1983 0.73958150 2015-04-26
1984 0.17217563 2011-04-12
1985 0.18658998 2017-01-30
1986 0.38248836 2014-06-08
1987 0.45361328 2016-10-19
1988 0.45513148 2023-09-01
1989 0.17310278 2010-01-09
1990 0.30541726 2020-01-11
1991 0.86775210 2016-12-16
1992 0.26023225 2010-01-03
1993 0.68087076 2016-04-23
1994 0.85357656 2016-08-10
1995 0.80527431 2019-11-21
1996 0.16351634 2018-03-29
1997 0.47193898 2014-08-04
1998 0.71831865 2015-08-16
1999 0.26987859 2020-02-04
2000 0.60823719 2019-01-06

In [78]:
write_csv(challenge, "challenge-2.csv")
read_csv("challenge-2.csv")

Parsed with column specification:
cols(
  x = col_double(),
  y = col_logical()
)
Warning message:
“1000 parsing failures.
 row col           expected     actual              file
1001   y 1/0/T/F/TRUE/FALSE 2015-01-16 'challenge-2.csv'
1002   y 1/0/T/F/TRUE/FALSE 2018-05-18 'challenge-2.csv'
1003   y 1/0/T/F/TRUE/FALSE 2015-09-05 'challenge-2.csv'
1004   y 1/0/T/F/TRUE/FALSE 2012-11-28 'challenge-2.csv'
1005   y 1/0/T/F/TRUE/FALSE 2020-01-13 'challenge-2.csv'
.... ... .................. .......... .................
See problems(...) for more details.
”

     x          y
1     404       NA
2    4172       NA
3    3004       NA
4     787       NA
5      37       NA
6    2332       NA
7    2489       NA
8    1449       NA
9    3665       NA
10   3863       NA
11   4374       NA
12    875       NA
13    172       NA
14   1602       NA
15   2012       NA
16    979       NA
17   2018       NA
18    319       NA
19   1944       NA
20   4878       NA
21   1450       NA
22   3392       NA
23   3677       NA
24    980       NA
25   4903       NA
26   3708       NA
27    258       NA
28   2652       NA
29   3480       NA
30   3443       NA
...  ...        ...
1971 0.14324546 NA
1972 0.42678032 NA
1973 0.56445359 NA
1974 0.18729942 NA
1975 0.60274952 NA
1976 0.73487829 NA
1977 0.06834881 NA
1978 0.78291796 NA
1979 0.92149271 NA
1980 0.04428217 NA
1981 0.71311485 NA
1982 0.90388602 NA
1983 0.73958150 NA
1984 0.17217563 NA
1985 0.18658998 NA
1986 0.38248836 NA
1987 0.45361328 NA
1988 0.45513148 NA
1989 0.17310278 NA
1990 0.30541726 NA
1991 0.86775210 NA
1992 0.26023225 NA
1993 0.68087076 NA
1994 0.85357656 NA
1995 0.80527431 NA
1996 0.16351634 NA
1997 0.47193898 NA
1998 0.71831865 NA
1999 0.26987859 NA
2000 0.60823719 NA

This makes CSVs a little unreliable for caching interim results—you need to recreate the column specification every time you load in. There are two alternatives:

write_rds
read_rds
readRDS
saveRDS

1. write_rds() and read_rds() are uniform wrappers around the base functions readRDS() and saveRDS(). These store data in R’s custom binary format called RDS:

In [79]:
write_rds(challenge, "challenge.rds")
read_rds("challenge.rds")

     x          y
1     404       <NA>
2    4172       <NA>
3    3004       <NA>
4     787       <NA>
5      37       <NA>
6    2332       <NA>
7    2489       <NA>
8    1449       <NA>
9    3665       <NA>
10   3863       <NA>
11   4374       <NA>
12    875       <NA>
13    172       <NA>
14   1602       <NA>
15   2012       <NA>
16    979       <NA>
17   2018       <NA>
18    319       <NA>
19   1944       <NA>
20   4878       <NA>
21   1450       <NA>
22   3392       <NA>
23   3677       <NA>
24    980       <NA>
25   4903       <NA>
26   3708       <NA>
27    258       <NA>
28   2652       <NA>
29   3480       <NA>
30   3443       <NA>
...  ...        ...
1971 0.14324546 2020-06-10
1972 0.42678032 2013-11-08
1973 0.56445359 2017-07-12
1974 0.18729942 2016-08-12
1975 0.60274952 2022-05-12
1976 0.73487829 2020-08-11
1977 0.06834881 2011-10-26
1978 0.78291796 2015-12-09
1979 0.92149271 2012-09-27
1980 0.04428217 2013-02-04
1981 0.71311485 2010-11-29
1982 0.90388602 2013-10-16
1983 0.73958150 2015-04-26
1984 0.17217563 2011-04-12
1985 0.18658998 2017-01-30
1986 0.38248836 2014-06-08
1987 0.45361328 2016-10-19
1988 0.45513148 2023-09-01
1989 0.17310278 2010-01-09
1990 0.30541726 2020-01-11
1991 0.86775210 2016-12-16
1992 0.26023225 2010-01-03
1993 0.68087076 2016-04-23
1994 0.85357656 2016-08-10
1995 0.80527431 2019-11-21
1996 0.16351634 2018-03-29
1997 0.47193898 2014-08-04
1998 0.71831865 2015-08-16
1999 0.26987859 2020-02-04
2000 0.60823719 2019-01-06

2. The feather package implements a fast binary file format that can be shared across programming languages:

In [82]:
#install.packages('feather')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [83]:
library(feather)
write_feather(challenge, "challenge.feather")
read_feather("challenge.feather")

     x          y
1     404       <NA>
2    4172       <NA>
3    3004       <NA>
4     787       <NA>
5      37       <NA>
6    2332       <NA>
7    2489       <NA>
8    1449       <NA>
9    3665       <NA>
10   3863       <NA>
11   4374       <NA>
12    875       <NA>
13    172       <NA>
14   1602       <NA>
15   2012       <NA>
16    979       <NA>
17   2018       <NA>
18    319       <NA>
19   1944       <NA>
20   4878       <NA>
21   1450       <NA>
22   3392       <NA>
23   3677       <NA>
24    980       <NA>
25   4903       <NA>
26   3708       <NA>
27    258       <NA>
28   2652       <NA>
29   3480       <NA>
30   3443       <NA>
...  ...        ...
1971 0.14324546 2020-06-10
1972 0.42678032 2013-11-08
1973 0.56445359 2017-07-12
1974 0.18729942 2016-08-12
1975 0.60274952 2022-05-12
1976 0.73487829 2020-08-11
1977 0.06834881 2011-10-26
1978 0.78291796 2015-12-09
1979 0.92149271 2012-09-27
1980 0.04428217 2013-02-04
1981 0.71311485 2010-11-29
1982 0.90388602 2013-10-16
1983 0.73958150 2015-04-26
1984 0.17217563 2011-04-12
1985 0.18658998 2017-01-30
1986 0.38248836 2014-06-08
1987 0.45361328 2016-10-19
1988 0.45513148 2023-09-01
1989 0.17310278 2010-01-09
1990 0.30541726 2020-01-11
1991 0.86775210 2016-12-16
1992 0.26023225 2010-01-03
1993 0.68087076 2016-04-23
1994 0.85357656 2016-08-10
1995 0.80527431 2019-11-21
1996 0.16351634 2018-03-29
1997 0.47193898 2014-08-04
1998 0.71831865 2015-08-16
1999 0.26987859 2020-02-04
2000 0.60823719 2019-01-06

Feather tends to be faster than RDS and is usable outside of R. RDS supports list-columns (which you’ll learn about in many models); feather currently does not.

11.6 Other types of data

To get other types of data into R, we recommend starting with the tidyverse packages listed below. They’re certainly not perfect, but they are a good place to start. For rectangular data:

haven reads SPSS, Stata, and SAS files.

readxl reads excel files (both .xls and .xlsx).

DBI, along with a database specific backend (e.g. RMySQL, RSQLite, RPostgreSQL etc) allows you to run SQL queries against a database and return a data frame.

For hierarchical data: use jsonlite (by Jeroen Ooms) for json, and xml2 for XML. Jenny Bryan has some excellent worked examples at https://jennybc.github.io/purrr-tutorial/.

For other file types, try the R data import/export manual and the rio package.